/*Documento CSS*/ 
header
{
	margin: auto;
	position: relative;
	width: 60%;
}
 body{
	overflow: hidden;
} 

a {
	text-decoration: none;
}


nav ul
{
	display: block;
	list-style: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 45px;

}

nav a {
	font-size: 20px;
	font-weight: bold;
	display: block;
	padding: 0px 15px;
	line-height: 45px;
	text-decoration: none;
}
nav a:hover {
	color: #000;
	background: #00fff2;
	background: -moz-linear-gradient();
}

#contenedor {
	margin: auto;
	position: relative;
	width: 80%;
	background: none;
}

#login {
	margin: auto;
	position: relative;
	width: 70%;
	background: none;
}

table {
/*	margin: auto;*/
	text-align: left;
	/* background: rgb(145, 147, 150); */
	width: 309px;
	/* border-radius: 30px; */
	/* border:  2px #00fff2 dashed; */
	border: 5px  #00fff2 inset;
	border-radius: 20px;
/*	para ayudar a centrar*/
	padding: 10px;
	background-color: rgba(19, 206, 102, .5);
	border: none;
}

td {
	padding: 5px;
}

h2 {
	text-align: center;
	color: rgba(71, 82, 94, 1.0);
	margin-top: 10px;
	margin-bottom: 10px;
/*	-webkit-text-stroke: 0.03em #000000;*/
	font-weight: 600;
	font-family: 'Times New Roman', Times, serif;

	margin-left: -20px;
}
input
{
	background-color: rgba(222, 233, 227, .65);
	padding: 5px;
	padding-left: 15px;
	width: 92%;
	border: none;
	font-size: 17px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgba(71, 82, 94, .35);
}


#BtnLogin {
	width: auto;
	height: auto;
	margin-right: auto;
	padding: 2px;
	font-size: 20px;
	padding: 15px;
	padding-bottom: 10px;
	padding-top: 10px;
	border-radius: 20px;
	background-color: rgba(76, 224, 179, 1.0);
	color: rgba(71, 82, 94, 1.0);
	cursor: pointer;
}

button {
	padding: 25px;
	border: none;
}

#CreacionDeCuenta {
	margin-left: 15px;
	color: rgba(71, 82, 94, .5);
}

#BtnLoginSpan {
	margin: 5px;
	text-decoration: none;
	color: rgba(71, 82, 94, 1.0);
	cursor: pointer;
}


td a{
	color: white;
}

#registroUsuario {
	margin-left: -20px;
}

big {
	width: 100%;
}

/*Animacion Inicial*/

#login {
	transform: translateY(0px);
	opacity: 1;
	animation: aparecer 2.5s !important;
}

#cargaFondoCuadradoTop {
	height: 0vh;

	animation: achicar 2s;

}

#cargaFondoCirculoTop {
	transform: translateY(0px);
	animation: elevar 2s;
}

@keyframes elevar {

	0%{
		transform: translateY(calc(35vh - 225px));
	}

	100%{
		transform: translateY(0px);
	}
}

@keyframes achicar {

	0%{
		height: 35vh;
	}

	100%{
		height: 0vh;
	}
}

@keyframes aparecer {
	0% {
		opacity: 0;
		transform: translateY(-10px);
	}

	80% {
		opacity: 0;
	}

	90% {
		opacity: 0;
		transform: translateY(-10px);
	}

	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}